/* CUSTOM FONT */
@font-face {
  font-family: 'Chubby Relief';
  src: url('../Assets/fonts/Chubby Relief.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #000;
  height: 100vh;
  width: 100%;
  position: relative;
}

.logo {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  transform: scale(1.2) rotate(-3deg);
}

/* NAVIGATION BAR */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 12px 0;
  font-family: 'Chubby Relief', sans-serif;
  gap: 183px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  transition: transform 0.2s, color 0.2s;
}

.navigation a:hover {
  color: #ffcc00;
  transform: scale(1.2) rotate(-3deg);
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  font-family: 'Chubby Relief', sans-serif;
  font-size: 48px;
  color: #fff;
}

.header p:hover {
  color: #f02760;
  transform: scale(1.2) rotate(-3deg);
}

/* SIDE BAR */
.side_bar {
  position: relative;
  width: 645px;
  height: 515px;
  margin: 20px auto;             
  display: flex;
  align-items: center;           
  justify-content: center;       
  
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  
  background-image: url("../Assets/Images/Dr House.jpg");
  background-size: cover;
  background-position: center;
  
  transition: transform 1s ease; 
}

/* When hovered → spin once */
.side_bar:hover {
  animation: spinOnce 2.3s ease;
}

@keyframes spinOnce {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(360deg) scale(1.2); }
  100% { transform: rotate(0deg) scale(1); }
}

/* Layered images */
.side_bar::before,
.side_bar::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

/* Default image */
.side_bar::before {
  background-image: url("../Assets/Images/Dr House.jpg");
  opacity: 1;
  transition: opacity 0s ease;
}

/* Hover image */
.side_bar::after {
  background-image: url("../Assets/Images/House giving death stair.webp");
  opacity: 0;
  transition: opacity 10s ease;
}

.side_bar:hover::after {
  opacity: 1;
}

.side_bar:hover::before {
  opacity: 0;
}

.side_bar:not(:hover)::after {
  transition: opacity 0s ease;
  opacity: 0;
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
}
