  * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .container {
            display: flex;
            flex-direction: column;
            background-color: gray;
            height: 100vh;
            width: 100%;
        }

        .logo {
            display: flex;
            flex-direction: row;
            background-color: aqua;
            min-height: 100px;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .navigation {
            display: flex;
            flex-direction: row;
            background-color: aqua;
            min-height: 50px;
            margin-top: 10px;
            justify-content: space-between;
            /* align-content: center; */
            align-items: center;
            
        }

        .navigation a {
            text-decoration: none;
        }

        .header {
            display: flex;
            flex-direction: row;
            min-height: 100px;
            width: 100%;
            background-color: aqua;
            margin-top: 10px;
        }

        .content {
            display: flex;
            flex-direction: row;
            min-height: 300px;
            background-color: red;
            margin-top: 10px;
            justify-content: space-between;
          
        }

        .side_bar {
            display: flex;
            flex-direction: column;
            background-color: aqua;
            flex-basis: 20%;
        }


        .body_area {
            display: flex;
            flex-direction: column;
            background-color: aqua;
            flex-basis: 75%;
        }

        .footer {
            display: flex;
            flex-direction: row;
            background-color: aqua;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            min-height: 50px;
        }
